<div class="container">
<table class="table table-dark table-hover" >
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido Paterno</th>
          <th>Apellido Materno</th>
          <th>Direccion</th>
          <th>Telefono</th>
          <th> </th>
          <th> </th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let persona of personas">
            <th>{{persona.Nombre}}</th>
            <th>{{persona.ApellidoP}}</th>
            <th>{{persona.ApellidoM}}</th>
            <th>{{persona.Direccion}}</th>
            <th>{{persona.Telefono}}</th>
            <th><button class="btn btn-danger" (click)="deletePersona(persona.Id)"><i class="fas fa-trash-alt"></i></button></th>
            <th><a [routerLink]="['/personas/edit', persona.Id]" class="btn btn-info"><i class="fas fa-user-edit"></i></a></th>
        </tr>
    </tbody>
</table>
</div>